body {
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  text-align: center;
  height: 100%;
  min-height: 100%;
}

.heading-primary {
  &--main {
    display: block;
    font-weight: 300;
    font-size: 3.5rem;
    letter-spacing: .6rem;
    color: white;
    text-transform: uppercase;
  }

  &--sub {
    display: block;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: .5rem;
    color: white;
    text-transform: uppercase;
  }


}