body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.7;
  text-align: center;
  // height: 100%;
}

.heading-primary {
  &--main {
    display: block;
    font-weight: 300;
    font-size: 4rem;
    letter-spacing: .6rem;
    color: white;
    text-transform: uppercase;

    @include respond(phone) {
      letter-spacing: .3rem; 
      font-size: 3rem;
    }
  }

  &--webApps {
    display: block;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: .5rem;
    color: grey;
    text-transform: uppercase;

    @include respond(tab-port) {
      margin-top: 2rem;
      letter-spacing: .3rem;
      font-size: 2.5rem;
    }

    @include respond(phone) {
      margin-top: 2rem;
      letter-spacing: .1rem;
      font-size: 2rem;
    }
  }

  &--sub {
    display: block;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    color: white;
    text-transform: uppercase;

    @include respond(phone) {
      letter-spacing: .3rem;
      
    }
  }

  &--other {
    display: block;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: .5rem;
    color: grey;
    text-transform: uppercase;

    @include respond(tab-port) {
      margin-top: 4rem;
      letter-spacing: .3rem;
      font-size: 2.5rem;
    }

    @include respond(phone) {
      margin-top: 4rem;
      letter-spacing: .1rem;
      font-size: 2rem;
    }
  }

  &--cli {
    display: block;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: .5rem;
    color: white;
    text-transform: uppercase;

    @include respond(tab-port) {
      letter-spacing: .3rem;
      font-size: 2.5rem;
    }

    @include respond(phone) {
      letter-spacing: .1rem;
      font-size: 2rem;
    }
  }

  &--project {
    display: block;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: .5rem;
    color: grey;
    text-transform: uppercase;

    @include respond(tab-port) {
      margin-top: 4rem;
      letter-spacing: .3rem;
      font-size: 2.5rem;
    }

    @include respond(phone) {
      margin-top: 4rem;
      letter-spacing: .1rem;
      font-size: 2rem;
    }
  }

  &--project-title {
    display: block;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: .3rem;
    color: grey;
    text-transform: uppercase;

    @include respond(tab-port) {
      letter-spacing: .1rem;
      font-size: 1rem;
    }
    
    @include respond(phone) {
      font-size: .7rem;
    }
  }

  &--other-title {
    display: block;
    font-weight: 500;
    font-size: 1.87rem;
    letter-spacing: .3rem;
    color: grey;
    text-transform: uppercase;

    @include respond(tab-port) {
      letter-spacing: .1rem;
      font-size: 1.2rem;
    }
    
    @include respond(phone) {
      font-size: .7rem;
    }
  }

  &--other-bio {
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color: white;
    text-transform: uppercase;
  }

  &--skills {
    display: block;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: .5rem;
    color: grey;
    text-transform: uppercase;

    @include respond(tab-port) {
      letter-spacing: .3rem;
      font-size: 2.5rem;
    }

    @include respond(phone) {
      letter-spacing: .1rem;
      font-size: 2rem;
    }
  }

  &--bio {
    display: block;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    color: darkslategrey;
    text-transform: uppercase;

    @include respond(tab-port) {
      letter-spacing: .1rem;
      font-size: 1rem;
    }
    
    @include respond(phone) {
      font-size: .7rem;
    }
  }

  &--bio-tech {
    display: block;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    color: darkslategrey;
    text-transform: uppercase;

    @include respond(tab-port) {
      letter-spacing: .1rem;
      font-size: 1rem;
    }
    
    @include respond(phone) {
      font-size: .7rem;
    }
  }


}

.bio {
  padding-left: 13rem;

  @include respond(tab-port) {
    padding-left: 4rem;
  }

  @include respond(phone) {
    padding-left: 3rem;
  }
}

.links{
  text-decoration: none;
  color: darkslategrey;
}