/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
em measurement is more ideal when using media queries

ORDER: Base + typography > general layout + grid > page layout > componenets

1em = 16px
*/
.u-center-text {
  text-align: center !important; }

.u-left-text {
  text-align: left !important; }

.u-padding-top-tiny {
  padding-top: 2rem !important; }

.u-padding-bottom-tiny {
  padding-bottom: 2rem !important; }

.u-padding-bottom-small {
  padding-bottom: 4rem !important; }

.u-margin-top-tiny {
  margin-top: 2rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 12rem !important; }

.u-margin-bottom-tiny {
  margin-bottom: 2rem !important; }

.u-margin-bottom-small {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 12rem !important; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.7;
  text-align: center; }

.heading-primary--main {
  display: block;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: .6rem;
  color: white;
  text-transform: uppercase; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--main {
      letter-spacing: .3rem;
      font-size: 3rem; } }

.heading-primary--webApps {
  display: block;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: .5rem;
  color: grey;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary--webApps {
      letter-spacing: .3rem;
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--webApps {
      letter-spacing: .1rem;
      font-size: 2rem; } }

.heading-primary--sub {
  display: block;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: .5rem;
  color: white;
  text-transform: uppercase; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--sub {
      letter-spacing: .3rem; } }

.heading-primary--other {
  display: block;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: .5rem;
  color: grey;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary--other {
      letter-spacing: .3rem;
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--other {
      letter-spacing: .1rem;
      font-size: 2rem; } }

.heading-primary--cli {
  display: block;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: .5rem;
  color: white;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary--cli {
      letter-spacing: .3rem;
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--cli {
      letter-spacing: .1rem;
      font-size: 2rem; } }

.heading-primary--project {
  display: block;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: .5rem;
  color: grey;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary--project {
      letter-spacing: .3rem;
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--project {
      letter-spacing: .1rem;
      font-size: 2rem; } }

.heading-primary--project-title {
  display: block;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: .3rem;
  color: grey;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary--project-title {
      letter-spacing: .1rem;
      font-size: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--project-title {
      font-size: .7rem; } }

.heading-primary--other-title {
  display: block;
  font-weight: 500;
  font-size: 1.87rem;
  letter-spacing: .3rem;
  color: grey;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary--other-title {
      letter-spacing: .1rem;
      font-size: 1.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--other-title {
      font-size: .7rem; } }

.heading-primary--other-bio {
  display: block;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  color: white;
  text-transform: uppercase; }

.heading-primary--skills {
  display: block;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: .5rem;
  color: grey;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary--skills {
      letter-spacing: .3rem;
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--skills {
      letter-spacing: .1rem;
      font-size: 2rem; } }

.heading-primary--bio {
  display: block;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  color: darkslategrey;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary--bio {
      letter-spacing: .1rem;
      font-size: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--bio {
      font-size: .7rem; } }

.heading-primary--bio-tech {
  display: block;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  color: darkslategrey;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary--bio-tech {
      letter-spacing: .1rem;
      font-size: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--bio-tech {
      font-size: .7rem; } }

.bio {
  padding-left: 13rem; }
  @media only screen and (max-width: 56.25em) {
    .bio {
      padding-left: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .bio {
      padding-left: 3rem; } }

.links {
  text-decoration: none;
  color: darkslategrey; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* font-size: 10px; - "bad practice", should not be pixels because by doing so you will override the browser font size setting that the user can manually change in the settings, for example when the user can not see so good. The user will be able to change the default font size however our root font size will remain unaffected.  */
  /* change to percentage will translate to a percentage of the font size given by the browser. By default the page will set to 16px. So if we put 100% this would mean that the root font size would be 16 pixel if the user doesnt change anything and if the user does change the default font size, lets say to 18px then the root font size will be 18 px. If you dont want it to be 16px by default all you have to do is divide what you want by 16px...so 10/16 = .625. 62.5%. 62.5 * 16 = 10px  With this you allow the user to actually zoom in on the page automatically, not only to change the font size but to also zoom in on the page */
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.btn {
  /* The after pseudo-element that were gonna use adds like a virtual element right after the element that were selecting and we can then style that element*/
  /* trick here is to add an element that looks exactly liek the button we have already but we put it behind the button and when we hover out of the bottom then this hidden pseudo-element goes back behind the button*/ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: .2rem;
    transition: all .2s;
    position: relative;
    border: solid white .2rem;
    background: transparent;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: white;
    color: white; }
    .btn--white::after {
      background-color: white; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: solid white .1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    /* it will automatically apply the styles up to zero percent before the animation starts. The styles in the moveInBottom will apply before the animation starts*/
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  border-bottom: .1rem solid white;
  padding: .3rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: white;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

li {
  list-style: none; }

.line {
  width: 20%; }

.cli-bg {
  background-color: #2b506b;
  height: auto; }

.cli-name {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: .5rem;
  text-transform: uppercase; }

/* Common style */
figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 1rem 1%;
  max-width: 40rem;
  max-height: 36rem;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  margin-left: 7rem; }
  @media only screen and (max-width: 56.25em) {
    figure {
      margin-left: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    figure {
      margin-left: -3rem; } }

figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.6; }

figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

figure figcaption::before,
figure figcaption::after {
  pointer-events: none; }

figure figcaption,
figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

figure h2 span {
  font-weight: 800; }

figure h2,
figure p {
  margin: 0; }

figure p {
  letter-spacing: .1rem;
  font-size: 68.5%; }

/* Individual effects */
/*---------------*/
/***** Julia *****/
/*---------------*/
figure.effect-julia {
  background: #2f3238; }

figure.effect-julia img {
  max-width: none;
  height: 40rem;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

figure.effect-julia figcaption {
  text-align: left; }

figure.effect-julia h2 {
  position: relative;
  padding: 0.5em 0; }

figure.effect-julia p {
  display: inline-block;
  margin: 0 0 0.25em;
  padding: 0.4em 1em;
  background: rgba(255, 255, 255, 0.9);
  color: #2f3238;
  text-transform: none;
  font-weight: 500;
  font-size: 75%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-38rem, 0, 0);
  transform: translate3d(-38rem, 0, 0); }
  @media only screen and (max-width: 56.25em) {
    figure.effect-julia p {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  @media only screen and (max-width: 37.5em) {
    figure.effect-julia p {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }

figure.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

figure.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

figure.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

figure.effect-julia:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

figure.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

figure.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

figure.effect-julia:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1); }

figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.footer {
  color: white;
  letter-spacing: .3rem;
  font-size: 1.5em;
  background-color: #2b506b; }

.icons {
  font-size: 3.5rem;
  color: white;
  margin-left: 2rem;
  cursor: pointer; }

.mesize {
  width: 30rem;
  border-radius: .2rem; }

@media only screen and (max-width: 56.25em) {
  .youtube-vid {
    width: 45rem;
    height: 30rem; } }

@media only screen and (max-width: 37.5em) {
  .youtube-vid {
    width: 40rem;
    height: 25rem; } }

.skills-list {
  background-color: lightgrey; }

.skills-icon {
  width: 5%;
  margin-right: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .skills-icon {
      width: 2.5%; } }
  .skills-icon--firebase {
    width: 8%;
    margin-right: 2rem; }

.webApps-list {
  background-color: lightgrey; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main-bg {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(136, 221, 211, 0.4), rgba(67, 97, 194, 0.4)), url(/./img/john-towner-JgOeRuGD_Y4-unsplash.png);
  background-size: cover;
  height: 90vh; }

.skills-list {
  height: auto; }
