.u-center-text {
  text-align: center !important; }

.u-left-text {
  text-align: left !important; }

.u-padding-top-tiny {
  padding-top: 2rem !important; }

.u-padding-bottom-tiny {
  padding-bottom: 2rem !important; }

.u-margin-top-tiny {
  margin-top: 2rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 12rem !important; }

.u-margin-bottom-tiny {
  margin-bottom: 2rem !important; }

.u-margin-bottom-small {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 12rem !important; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.7;
  text-align: center;
  height: 100%;
  padding: 3rem 0 0 0;
  min-height: 100%; }

.heading-primary--main {
  display: block;
  font-weight: 300;
  font-size: 3.7rem;
  letter-spacing: .6rem;
  color: white;
  text-transform: uppercase; }

.heading-primary--sub {
  display: block;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: .5rem;
  color: white;
  text-transform: uppercase; }

.heading-primary--other {
  display: block;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: .5rem;
  color: grey;
  text-transform: uppercase; }

.heading-primary--cli {
  display: block;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: .5rem;
  color: white;
  text-transform: uppercase; }

.heading-primary--project {
  display: block;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: .5rem;
  color: grey;
  text-transform: uppercase; }

.heading-primary--skills {
  display: block;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: .5rem;
  color: grey;
  text-transform: uppercase; }

.heading-primary--bio {
  display: block;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  color: darkslategrey;
  text-transform: uppercase; }

.bio {
  padding-left: 13rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* font-size: 10px; - "bad practice", should not be pixels because by doing so you will override the browser font size setting that the user can manually change in the settings, for example when the user can not see so good. The user will be able to change the default font size however our root font size will remain unaffected.  */
  /* change to percentage will translate to a percentage of the font size given by the browser. By default the page will set to 16px. So if we put 100% this would mean that the root font size would be 16 pixel if the user doesnt change anything and if the user does change the default font size, lets say to 18px then the root font size will be 18 px. If you dont want it to be 16px by default all you have to do is divide what you want by 16px...so 10/16 = .625. 62.5%. 62.5 * 16 = 10px  With this you allow the user to actually zoom in on the page automatically, not only to change the font size but to also zoom in on the page */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.btn {
  /* The after pseudo-element that were gonna use adds like a virtual element right after the element that were selecting and we can then style that element*/
  /* trick here is to add an element that looks exactly liek the button we have already but we put it behind the button and when we hover out of the bottom then this hidden pseudo-element goes back behind the button*/ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: .2rem;
    transition: all .2s;
    position: relative;
    border: solid white .2rem;
    background: transparent;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: white;
    color: white; }
    .btn--white::after {
      background-color: white; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: solid white .1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    /* it will automatically apply the styles up to zero percent before the animation starts. The styles in the moveInBottom will apply before the animation starts*/
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: white;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

li {
  list-style: none; }

.line {
  width: 20%; }

.cli-bg {
  background-color: #2b506b;
  width: 100vw;
  height: 85vh; }

.cli-name {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: .5rem;
  text-transform: uppercase; }

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 83rem;
  list-style: none;
  text-align: center; }

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  max-width: 400px;
  max-height: 360px;
  width: 48%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer; }

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.6; }

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure h2,
.grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

/* Individual effects */
/*---------------*/
/***** Julia *****/
/*---------------*/
figure.effect-julia {
  background: #2f3238; }

figure.effect-julia img {
  max-width: none;
  height: 400px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

figure.effect-julia figcaption {
  text-align: left; }

figure.effect-julia h2 {
  position: relative;
  padding: 0.5em 0; }

figure.effect-julia p {
  display: inline-block;
  margin: 0 0 0.25em;
  padding: 0.4em 1em;
  background: rgba(255, 255, 255, 0.9);
  color: #2f3238;
  text-transform: none;
  font-weight: 500;
  font-size: 75%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px, 0, 0);
  transform: translate3d(-360px, 0, 0); }

figure.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

figure.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

figure.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

figure.effect-julia:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

figure.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

figure.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

figure.effect-julia:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1); }

figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.footer {
  color: white;
  letter-spacing: .3rem;
  font-size: 1.5em;
  background: linear-gradient(to right bottom, #88ddd3, #4361c2); }

.icons {
  font-size: 3.5rem;
  color: white;
  margin-left: 2rem;
  cursor: pointer; }

.mesize {
  width: 30rem;
  border-radius: .2rem; }

.skills-list {
  background-color: lightgrey; }

.skills-icon {
  width: 5%;
  margin-right: 3rem; }
  .skills-icon--firebase {
    width: 8%;
    margin-right: 2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main-bg {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(136, 221, 211, 0.4), rgba(67, 97, 194, 0.4)), url(/img/john-towner-JgOeRuGD_Y4-unsplash.jpg);
  background-size: cover;
  width: 100vw;
  height: 90vh; }

.skills-list {
  height: auto; }
