.footer {
  color: white;
  letter-spacing: .3rem;
  font-size: 1.5em;
  background: linear-gradient(to right bottom, #88ddd3, #4361c2);
}

.icons {
  font-size: 3.5rem;
  color: white;
  margin-left: 2rem;
  cursor: pointer;
}