.mesize{
  width: 30rem;
  border-radius: .2rem;
}

.youtube-vid {
  @include respond(tab-port) {
    width: 45rem;
    height: 30rem;
    margin-bottom: 4rem;
  }

  @include respond(phone) {
    width: 40rem;
    height: 25rem;
    margin-bottom: 4rem;
  }
}